.b-popup-btn {
	border: 1px solid;
	border-radius: 5px;
	padding: 4px;
	cursor: pointer;
}

.b-popup-form {
	display: none;
	border: 1px solid;
	z-index: 1000;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: fixed;
	background: #fff;
}

.b-popup-form--open {
	display: block;
}

.b-popup__btn-close {
	position: absolute;
	top 1px;
	right: 1px;
	border-radius: 50%;
	cursor: pointer;
	border: 1px solid #000;
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 3px;
	z-index: 100;
}
