.b-elements-list {
	margin: 0 auto;
	padding: 15px;
	max-width: 960px;
	width: 100%;
}

.b-elements-list-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-top: 1px gray solid;
	border-bottom: 1px gray solid;
	background-color: white;

	margin-bottom: 15px;
	padding: 10px 0;
}

.b-elements-list-item__img-container {
	max-width: 200px;
	width: 100%;
}

.b-elements-list-item__img {
	max-width: 100%;
	height: auto;
}

.b-elements-list-item__right-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	margin-left: 15px;
}

.b-elements-list-item__id {
	color: gray;
}

.b-elements-list-item__name {
	font-weight: bold;
}

.b-elements-list-item__text {
	margin-top: 10px;
	margin-bottom: 10px;
}

.b-elements-list-item__date {
	color: gray;
	-ms-flex-item-align: end;
	align-self: flex-end;
	margin-top: auto;
}

@media screen and (max-width: 480px) {
	.b-elements-list-item {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.b-elements-list-item__right-box {
		margin-left: 0;
		margin-top: 15px;
	}
}