.b-image-block {
	display: block;
	text-decoration: none;
	width: 100%;
	max-width: 1380px;
	margin: 0 auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

@media print, screen and (min-width: 60.0625em) {
	.b-image-block {
		margin-top: 0;
	}
}

.b-image-block__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 350px;
}

.b-image-block__wrapper--left {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
		-ms-flex-flow: row-reverse;
			flex-flow: row-reverse;
}

.b-image-block__wrapper--right {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
		-ms-flex-flow: row;
			flex-flow: row;
}

.b-image-block__wrapper--left .b-image-block__image-wrapper,
.b-image-block__wrapper--right .b-image-block__image-wrapper {
	display: none;
}

@media print, screen and (min-width: 30.0625em) {
.b-image-block__wrapper--left .b-image-block__image-wrapper,
.b-image-block__wrapper--right .b-image-block__image-wrapper {
	display: block;
}
}

.b-image-block__wrapper--no-text .b-image-block__image-wrapper {
	height: 100px;
	width: 100%;
}

.b-image-block__wrapper--no-text .b-image-block__content {
	display: none;
}

.b-image-block__image-wrapper,
.b-image-block__content {
	width: 100%;
	color: #fff;
}

.b-image-block__link {
	text-decoration: none;
}

@media print, screen and (min-width: 30.0625em) {
	.b-image-block__image-wrapper,
	.b-image-block__content {
		width: 50%;
	}
}

.b-image-block__content {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
		-moz-justify-content: center;
			-ms-flex-pack: center;
				justify-content: center;
	-webkit-flex-flow: column;
		-moz-flex-flow: column;
			-ms-flex-flow: column;
				flex-flow: column;
	padding: 26px;
}

.b-image-block__title {
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
}

.b-image-block__text {
	font-size: 18px;
	line-height: 24px;
}

.b-image-block__image-wrapper {
	position: relative;
	overflow: hidden;
}

.b-image-block__image {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
			transform: translateX(-50%) translateY(-50%);
}

@media print, screen and (min-width: 60.0625em) {
	.b-image-block__image {
		width: 100%;
	}
}