/**
 * Foundation for Sites
 * Version 6.6.3
 * https://get.foundation
 * Licensed under MIT Open Source
 */
body.wysiwyg {
  background: #fefefe;
  color: #0a0a0a;
  font-family: "Helvetica Neue", helvetica, roboto, arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  /*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
}
body.wysiwyg html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body.wysiwyg body {
  margin: 0;
}
body.wysiwyg h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
body.wysiwyg hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
body.wysiwyg pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
body.wysiwyg a {
  background-color: transparent;
}
body.wysiwyg abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
body.wysiwyg b,
body.wysiwyg strong {
  font-weight: bolder;
}
body.wysiwyg code,
body.wysiwyg kbd,
body.wysiwyg samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
body.wysiwyg small {
  font-size: 80%;
}
body.wysiwyg sub,
body.wysiwyg sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
body.wysiwyg sub {
  bottom: -0.25em;
}
body.wysiwyg sup {
  top: -0.5em;
}
body.wysiwyg img {
  border-style: none;
}
body.wysiwyg button,
body.wysiwyg input,
body.wysiwyg optgroup,
body.wysiwyg select,
body.wysiwyg textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
body.wysiwyg button,
body.wysiwyg input {
  overflow: visible;
}
body.wysiwyg button,
body.wysiwyg select {
  text-transform: none;
}
body.wysiwyg button,
body.wysiwyg [type=button],
body.wysiwyg [type=reset],
body.wysiwyg [type=submit] {
  -webkit-appearance: button;
}
body.wysiwyg button::-moz-focus-inner,
body.wysiwyg [type=button]::-moz-focus-inner,
body.wysiwyg [type=reset]::-moz-focus-inner,
body.wysiwyg [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
body.wysiwyg button:-moz-focusring,
body.wysiwyg [type=button]:-moz-focusring,
body.wysiwyg [type=reset]:-moz-focusring,
body.wysiwyg [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
body.wysiwyg fieldset {
  padding: 0.35em 0.75em 0.625em;
}
body.wysiwyg legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
body.wysiwyg progress {
  vertical-align: baseline;
}
body.wysiwyg textarea {
  overflow: auto;
}
body.wysiwyg [type=checkbox],
body.wysiwyg [type=radio] {
  box-sizing: border-box;
  padding: 0;
}
body.wysiwyg [type=number]::-webkit-inner-spin-button,
body.wysiwyg [type=number]::-webkit-outer-spin-button {
  height: auto;
}
body.wysiwyg [type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
body.wysiwyg [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
body.wysiwyg ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
body.wysiwyg details {
  display: block;
}
body.wysiwyg summary {
  display: list-item;
}
body.wysiwyg template {
  display: none;
}
body.wysiwyg [hidden] {
  display: none;
}
body.wysiwyg .foundation-mq {
  font-family: "small=0em&medium=48em&large=64em&xlarge=80em";
}
body.wysiwyg html {
  box-sizing: border-box;
  font-size: 16px;
}
body.wysiwyg *,
body.wysiwyg *::before,
body.wysiwyg *::after {
  box-sizing: inherit;
}
body.wysiwyg body {
  margin: 0;
  padding: 0;
  background: #fefefe;
  font-family: "Helvetica Neue", helvetica, roboto, arial, sans-serif;
  font-weight: normal;
  line-height: 1.4;
  color: #0a0a0a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.wysiwyg img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}
body.wysiwyg textarea {
  height: auto;
  min-height: 50px;
  border-radius: 0;
}
body.wysiwyg select {
  box-sizing: border-box;
  width: 100%;
  border-radius: 0;
}
body.wysiwyg .map_canvas img,
body.wysiwyg .map_canvas embed,
body.wysiwyg .map_canvas object,
body.wysiwyg .mqa-display img,
body.wysiwyg .mqa-display embed,
body.wysiwyg .mqa-display object {
  max-width: none !important;
}
body.wysiwyg button {
  padding: 0;
  appearance: none;
  border: 0;
  border-radius: 0;
  background: transparent;
  line-height: 1;
  cursor: auto;
}
[data-whatinput=mouse] body.wysiwyg button {
  outline: 0;
}
body.wysiwyg pre {
  overflow: auto;
}
body.wysiwyg button,
body.wysiwyg input,
body.wysiwyg optgroup,
body.wysiwyg select,
body.wysiwyg textarea {
  font-family: inherit;
}
body.wysiwyg .is-visible {
  display: block !important;
}
body.wysiwyg .is-hidden {
  display: none !important;
}
body.wysiwyg h1,
body.wysiwyg .h1,
body.wysiwyg .c-h1 {
  color: #0a0a0a;
  font-weight: bold;
  line-height: 1;
}
body.wysiwyg h2,
body.wysiwyg .h2,
body.wysiwyg .c-h2 {
  color: #0a0a0a;
  font-weight: normal;
  line-height: 1;
}
body.wysiwyg h3,
body.wysiwyg .h3,
body.wysiwyg .c-h3 {
  color: #8a8a8a;
  font-weight: normal;
}
body.wysiwyg big,
body.wysiwyg .big,
body.wysiwyg .c-big {
  color: #0a0a0a;
  font-size: 24px;
}
body.wysiwyg b,
body.wysiwyg strong {
  font-weight: bold;
}
body.wysiwyg hr {
  border: none;
  border-bottom: 2px solid #8a8a8a;
}
body.wysiwyg ul {
  padding-left: 30px;
}
body.wysiwyg ul li {
  margin-bottom: 10px;
}
body.wysiwyg ol {
  padding-left: 30px;
}
body.wysiwyg ol li {
  margin: 10px 0;
}
body.wysiwyg a {
  color: #cacaca;
}
body.wysiwyg a:hover {
  text-decoration: none;
}
body.wysiwyg .c-right {
  float: right;
  margin: 0 0 10px 10px;
}
body.wysiwyg .c-left {
  float: left;
  margin: 0 10px 10px 0;
}
body.wysiwyg .c-black {
  color: #0a0a0a;
}
body.wysiwyg .c-gray {
  color: #8a8a8a;
}
body.wysiwyg .c-hidden {
  display: none;
}
@media print, screen and (max-width: 47.99875em) {
  body.wysiwyg .c-small-hidden {
    display: none;
  }
}
@media print, screen and (min-width: 48em) and (max-width: 63.99875em) {
  body.wysiwyg .c-medium-hidden {
    display: none;
  }
}
@media print, screen and (min-width: 64em) and (max-width: 79.99875em) {
  body.wysiwyg .c-large-hidden {
    display: none;
  }
}
@media screen and (min-width: 80em) {
  body.wysiwyg .c-xlarge-hidden {
    display: none;
  }
}
body.wysiwyg .c-hidden {
  display: block;
  opacity: 0.5;
}

/*# sourceMappingURL=admin-wysiwyg.css.map*/